/* 
    For elements that need a right and left side grid 
    For nesting grids
*/

div {
    padding: 10px;
}

/* Sets the grid areas and displays in template */
.leftside{
    grid-area: leftside;
}

.rightside{
    grid-area: rightside;
}

.innergrid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "leftside         rightside"
}