header, footer, nav, section
{
    min-width: 610px;
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
}

/* format the header and footer the same */
header, footer
{
    background-color: darkgray;
    text-align: center;
    min-height: 100px;
}

header h1
{
    margin-top: auto;
    margin-bottom: auto;
}

/* make the navigation bar stand out a bit */
nav
{
    background-color: slategray;
    text-align: center;
}

/* format the nav items. there are 4
 *  so the width is 25%. the min width
 *  keeps the bar looking good when the
 *  browser window is narrowed */
a.nav-item
{
    width: 25%;
    min-width: 150px;
    cursor: default;
    display: block;
    color: white;
    text-decoration: none;      
}

/* change the nav items when the mouse is over them */
a.nav-item:hover
{
    background-color: black;
}

/* change all items with a class of left.
 *  use this for columns of things */
*.left
{
    float: left;
}

/* change all items with a class of end.
 *  use this on the last thing in the column */ 
*.end
{
    overflow: hidden;
}

/* format the main section of the page */
section
{
    background-color: lightgray;
    padding: 10px 10px 10px 10px;
    min-width: 600px;
}
