/* for all pages */

/* Background for pages */
.topbottom {
    background-color: black;
}

.middle {
    background-color: gray;
}

aside {
    background-image: url("../images/tiretracks.png");
}

/* Font Sizes */
.newsize {
    font-size: 30px;
}

.newsize25 {
    font-size: 25px;
}

h1 {
    font-size: 40px;
}

/* Text Color */
.whiteText {
    color: white;
}

/* Indentions */
.indentleft {
    margin-left: 250px;
}

/* Width sizes */
.full {
    width: 100%;
}

/* Text alignment/position */
.textCenter {
    text-align: center;
}

.price {
    float: right;
}

/* Text Decorations */
.noDec {
    text-decoration: none;
}

/* Other Styles */
.nav-bar {
    margin: 10;
}

.nav-list {
    display: inline;
}

.links {
    display: inline-block;
    width: 100px;
    padding: 15px;
}

/* Hover styles */
.links:hover
{
    background-color: white;
    color: black;
}

/* style for pictures */
.picture {
    width: 500px;
    float: left;
    border: 5px solid black;
    margin-right: 10px;
}

/* Grid Styles below */

/* 
    Sets the grid ares
    sets main to have a min height
    plots  our the areas in a template
 */
.sidebar1 {
    grid-area: sidebar1;
}

.sidebar2 {
    grid-area: sidebar2;
}

main {
    min-height: 100vh;
    grid-area: main;
}

nav {
    grid-area: navbar;
}

footer {
    color: gray;
    grid-area: footer;
}

header {
    background-color: red;
    grid-area: header;
}

.displayGrid {
    display: grid;
}

.container {
    margin: 0;
    padding: 0;
    grid-template-columns: 0.5fr 5fr 0.5fr;
    grid-template-areas: 
        "navbar     navbar       navbar"
        "header     header      header"
        "sidebar1   main        sidebar2"
        "sidebar1   main        sidebar2"
        "footer     footer      footer";
}