.rightside {
    background-color: white;
    border: 20px solid gray;
}

.categories {
    padding: 10px 20px;
    font-size: 15px;
}

.cartlist {
    min-height: 750px;
}

.price-box {
    text-align: right;
}